body {
    background-color: darkseagreen;
}

h1 {
    color: white;
	text-align: center;

}

h2 {
    color: white;
	text-align: center;

}
p {
    margin-left: 20px;
	color: white;
	text-align: center;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section {
 display: flex;
}

aside {
 flex: 1
}

article {
 flex: 4
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* Change the link color to gray on current page */
li a.active {
    background-color: gray;
}
